<head>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>
	Content index
	<ul>
		<li>left side</li>
		<li>left side</li>
		<li>left side</li>
		<li>left side</li>
		<li>left side</li>
		<li>left side</li>
	</ul>
</h1>
</body>
