<head>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	
<h1>
	Main PAGE
</h1>
<div class="index">
	<% include index.ejs %>

</div>

<div class="content">
	<% include webDesign.ejs %>
	<% include javascriptPj.ejs %>
	<% include funPj.ejs %>
</div>
</body>
